.header{
    background-color: #0097A7;
    padding: 1rem;
}
h1, h2, h3, h4{
    text-align: center;
    color: rgb(255, 204, 0);
}
.imagen{
    display: flex;
    justify-content: center;
    background-color:  #0097A7;
}
.enlaces{
    display: flex;
    justify-content: center;
    background-color:  #0097A7;
}
.icono{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titulo{
    background-color: #0097A7;
    padding: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
}
.textos{
    background-color: cornflowerblue;
    margin-top: 0;
    margin-bottom: 0;
    width: 60%;
    padding: 3;
    margin: 0 auto;
    border-radius: 1rem;
    text-align: center;
}